services:
  postgres:
    image: postgres:16
    container_name: database
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge